<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="./css/admin-app.css" />
    <script defer type="module" src="./js/admin-app.js"></script>
    </head>

    <body>
        <main>
            <section id="dynasties">
                <select name="dynasties" id="dynasty-select">
                    <option value="all">All</option>
                    <% dynasties.forEach((dynasty)=> { %>
                        <option value="<%= dynasty.value %>">
                            <%= dynasty.name %>
                        </option>
                        <% }) %>
                </select>
            </section>
            <hr>
            <section id="players">
                <ul id="players-list">
                    <% players.forEach((player)=> { %>
                        <li id="<%= player.name %>" class="players__player" data-dynasty="<%= player.dynasty %>">
                            <%= player.name %>
                        </li>
                        <% }) %>
                </ul>
            </section>
            <hr>
            <section id="games">
            </section>
        </main>
    </body>

    </html>